## Fetching data using web scraping

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

webpage = requests.get("https://www.ambitionbox.com/list-of-companies?page=1", headers= headers).text

In [60]:
# webpage

In [61]:
soup = BeautifulSoup(webpage, 'lxml')
# print(soup.prettify)

## Find the title

In [17]:
soup.find_all('title')[0].text

'List of companies in India | AmbitionBox'

In [20]:
for cname in soup.find_all('h2'):
    print(cname.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [28]:
company_list = soup.find_all('div', class_= 'companyCardWrapper')

In [30]:
len(company_list)

20

In [41]:
company_list[0].find_all('h2')[0].text.strip()

'TCS'

In [54]:
company_list[0].find_all('span', class_='companyCardWrapper__companyRatingValue')[0].text

'3.8'

In [55]:
cname = []
ratings = []
for company in company_list:
    cname.append(company.find_all('h2')[0].text.strip())
    ratings.append(company.find_all('span', class_='companyCardWrapper__companyRatingValue')[0].text)

d = {'name': cname, 'rating': ratings}
df = pd.DataFrame(d)
df

                       name rating
0                       TCS    3.8
1                 Accenture    4.0
2                 Cognizant    3.9
3                     Wipro    3.8
4                 Capgemini    3.9
5                 HDFC Bank    4.0
6                ICICI Bank    4.0
7                   Infosys    3.8
8                   HCLTech    3.7
9             Tech Mahindra    3.7
10                  Genpact    3.9
11                Axis Bank    3.9
12          Teleperformance    3.6
13   Concentrix Corporation    3.9
14                      Jio    4.0
15                   Amazon    4.1
16                      IBM    4.1
17          Reliance Retail    4.0
18   HDB Financial Services    4.0
19  Larsen & Toubro Limited    4.1

## API call with pagination

In [59]:
final_df = pd.DataFrame()
for i in range(1, 11):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(i)
    webpage = requests.get(url, headers= headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    
    cname = []
    ratings = []
    for company in company_list:
        cname.append(company.find_all('h2')[0].text.strip())
        ratings.append(company.find_all('span', class_='companyCardWrapper__companyRatingValue')[0].text)

    d = {'name': cname, 'rating': ratings}
    df = pd.DataFrame(d)
    final_df = final_df.append(df)

final_df

/var/folders/sz/cpknfd696fzfr2fn54p62_7c0000gn/T/ipykernel_1812/2579086030.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = final_df.append(df, ignore_index= True)

                        name rating
0                        TCS    3.8
1                  Accenture    4.0
2                  Cognizant    3.9
3                      Wipro    3.8
4                  Capgemini    3.9
..                       ...    ...
195                   Amazon    4.1
196                      IBM    4.1
197          Reliance Retail    4.0
198   HDB Financial Services    4.0
199  Larsen & Toubro Limited    4.1

[200 rows x 2 columns]